extends layout.pug
block content
    nav 
        a(href='http://localhost:3000/login')
            button(class=['btn-login-index btn-index']) Log In
        a(href='http://localhost:3000/singup')
            button(class=['btn-singup-index btn-index']) Sing Up
    div(class=['body-index'])
        h1 Welcome