doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap" rel="stylesheet">
        style.
            body {
                margin: 0px;
            }
            nav {
                height: 60px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                box-shadow: 0px 0px 10px #00000038;
                padding-right: 10px
            }
            .body {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .body-index {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 45px;
                min-height: 600px;
            }
            .login {
                border: 1px solid grey;
                box-shadow: 0px 0px 10px #8080805c;
                padding: 10px;
                width: 350px;
            }
            .btn-index {
                margin: 12.5px 5px;
                height: 35px;
                width: 75px;
                font-weight: 800;
                border-radius: 5px;
            }
            .btn-login-index {
                background-color: white;
                border: 1px solid #8080805c;
            }
            .btn-singup-index {
                background-color: #673ab7;
                border: none;
                color: white;
            }
            form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h1 {
                color: red;
                font-family: 'Luxurious Script', cursive;
            }
            h4, h3 {
                margin: 10px 0px;
            }
            input {
                height: 30px;
                width: 97%;
            }
            .btn-singin {
                width: 100%;
                height: 36px;
                background-color: #673ab7;
                border: none;
                color: white;
                font-weight: 800;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            .msg-wr {
                box-sizing: border-box;
                margin: 10px auto;
                height: 40px;
                text-align: center;
                color: white;
                background-color: #A20A0A;
                padding: 8px;
            }
            .nextTo {
                display: flex;
                justify-content: space-around;
            }
            .hidden {
                display: none;
            }
            .msg-pass {
                color: #A20A0A;
            }
            .msg-pass span {
                display: inline-block;
                font-size: 20px;
                color: white;
                background-color: red;
                border-radius: 100%;
                width: 20px;
                text-align: center;
            }
            .show-pass {
                display: flex;
                margin: 10px 0px;
            }
            .show-pass input{
                width: 18px;
                height: 18px;
                margin: 0px 5px;
            }
            .show-pass p {
                margin: 0px
            }

        title Auth
    body 

        block content
