extends layout.pug
block content
    nav 
        a(href='http://localhost:3000/logout')
            button(class=['btn-login-index btn-index']) log Out
    h1 If you're looking this, it's because you're registred :D